version: '3.8'
services:
  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"

  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"